# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: 'Check code quality'
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  check-typescript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/Iron
      - run: npm install -g pnpm
      - run: pnpm install
      - name: Check TypeScript
        run: pnpm tsc
  check-prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/Iron
      - run: npm install -g pnpm
      - run: pnpm install
      - run: pnpm run lint
  check-packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/Iron
      - run: npm install -g pnpm
      - run: pnpm install
      - run: pnpm outdated